<title>Privactic</title>

<link rel="stylesheet" type="text/css" href="bootstrap-css" />
<script type="text/javascript" src="jquery"></script>
<script type="module" src="popper"></script>
<script type="text/javascript" src="bootstrap-js"></script>
