<!DOCTYPE html>
<html>
<head>
  <title>Privactic</title>
</head>
<body>
  <h1>PRIVACTIC::APP</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/signup">Sign up</a></li>
    <li><a href="/login">Log in</a></li>
    <li><a href="/app">App</a></li>
  </ul>
</body>
</html>
