<%- include partials/html -%>
<head>
  <%- include partials/head -%>

  <link rel="stylesheet" type="text/css" href="/styles/app.css" />

  <meta name="socket_io_url" content="<%- SOCKET_URL -%>" />
</head>
<body>
  <%- include('partials/header', { signed_in: true }) -%>
  <main role="main" class="container-fluid h-100">
    <div class="row h-100">
      <div id="app-sidebar" class="col-3 h-100">
        <ul id="conversations-list" class="list-group">
          <button type="button" class="list-group-item list-group-item-action text-success" onclick="conversationNew()" data-toggle="modal" data-target="#conversation-new">New Conversation</button>
        </ul>
      </div>
      <div id="app-main" class="col-9 h-100">
        <div id="app-conversation" class="h-100">
          <div id="app-conversation-header">
            <h3></h3>
          </div>
          <div id="app-conversation-content"></div>
        </div>

        <div id="app-input">
          <div class="row h-100">
            <div class="col-10 h-100">
              <textarea id="message-content" class="form-control h-100 w-100"></textarea>
            </div>
            <div class="col-2 h-100">
              <button id="message-send" class="btn btn-success w-100 h-100">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Modal -->
  <div class="modal fade" id="conversation-new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Conversation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="conversationNewForm">
            <div class="form-group">
              <label for="user">User</label>
              <select id="conversationNewUser" class="form-control" name="conversationNewUser"></select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button onclick="conversationCreate()" type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</body>
</html>
