<%- include partials/html -%>
<head>
  <%- include partials/head -%>
</head>
<body>
  <%- include partials/header -%>
  <main role="main" class="container">
    <h1>Welcome to Privactic</h1>
  </main>
</body>
</html>
