<!DOCTYPE html>
<html>
<head>
  <%- include partials/head -%>
</head>
<body>
  <h1>Welcome to Privactic</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/signup">Sign up</a></li>
    <li><a href="/login">Log in</a></li>
    <li><a href="/app">App</a></li>
  </ul>
</body>
</html>
