<%- include partials/html -%>
<head>
  <%- include partials/head -%>
</head>
<body>
  <%- include partials/header -%>
  <main role="main" class="container">
    <h1>Signup</h1>

    <form class="small-form" action='/signup' method='post'>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" />
      </div>

      <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
  </main>
</body>
</html>
